@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    height: 100vh;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    gap: 1.2rem;

    .panel {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        width: 10vh;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        transition: width 0.7s ease-in;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        h3 {
            display: block;
            font-size: 2rem;
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: #fff;
            margin: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
        }

        &.active {
            width: 70vw;

            h3 {
                opacity: 1;
            }

        }
    }
}